@using PaymentSystem.WalletApp.Common
@using PaymentSystem.WalletApp.Data.Models
@model PaymentSystem.WalletApp.Web.ViewModels.Financials.Profile.ProfileFinancialViewModel;

@{
    Layout = "/Views/Shared/_ProfileWithSecondaryMenuLayout.cshtml";

    var cardTypesSelectList = Enum.GetValues(typeof(CardType))
        .Cast<CardType>()
        .Select(c => new SelectListItem(c.ToString(), c.ToString(), false));

    var countriesSelectListItems = WalletConstants.CountriesSelectListItems(string.Empty);
}


@section Scripts
{
    <script>
        function getCreditCardDetails(id) {
            const uri = `/profile/financials/getCreditCardDetails?id=${id}`;

            const options = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            };

            const expiryDate = document.getElementById('editexpiryDate');
            expiryDate.setAttribute("disabled", "disabled");

            const cvv = document.getElementById('editcvvNumber');
            cvv.setAttribute("disabled", "disabled");

            const cardHolder = document.getElementById('editcardHolderName');
            cardHolder.setAttribute("disabled", "disabled");

            fetch(uri, options)
                .then(res => res.json())
                .then(res => {
                    const idElement = document.getElementById('id');

                    const lastFourDigits = document.getElementById('last-four-digits');

                    const cardType = document.getElementById('card-type');

                    lastFourDigits.value = `XXXX-XXXX-XXXX-${res.lastFourDigits}`;

                    cardType.src = `/images/payment/${res.cardType}.png`;
                    cardType.alt = res.cardType;

                    expiryDate.value = res.expiryDate;
                    expiryDate.removeAttribute("disabled");

                    cvv.value = res.cvv;
                    cvv.removeAttribute("disabled");

                    cardHolder.value = res.cardHolderName;
                    cardHolder.removeAttribute("disabled");

                    idElement.value = res.id;
                })
                .catch(err => console.log(err));
        };

        function deleteCreditCardDetails(id) {
            const uri = `/profile/financials/getCreditCardDetails?id=${id}`;

            const options = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            };

            fetch(uri, options)
                .then(res => res.json())
                .then(res => {
                    console.log(res);

                    const idElement = document.getElementById('credit-credit-id');
                    idElement.value = res.id;

                    const cardHolder = document.getElementById('card-principal-name');
                    cardHolder.textContent = res.cardHolderName;

                    const lastFourDigits = document.getElementById('card-number');
                    lastFourDigits.textContent = `XXXX-XXXX-XXXX-${res.lastFourDigits}`;

                    const expiryDate = document.getElementById('expire-date');
                    expiryDate.textContent = res.expiryDate;

                    const cardType = document.getElementById('credit-card-type');
                    cardType.textContent = res.cardType;
                })
                .catch(err => console.log(err));
        };

        function getBankAccountsDetails(id) {
            const uri = `/profile/financials/getBankAccountDetails?id=${id}`;

            const options = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            };

            fetch(uri, options)
                .then(res => res.json())
                .then(res => {
                    console.log(res);

                    const bankName = document.getElementById('bank-name');
                    bankName.textContent = res.bankName;

                    const shortBankAccount = document.getElementById('bank-account-short');
                    shortBankAccount.textContent = `XXXX-${res.iban.slice(-4)}`;

                    const principalName = document.getElementById('principal-name');
                    principalName.textContent = res.accountHolderName;

                    const iban = document.getElementById('iban');
                    iban.textContent = res.iban;

                    const country = document.getElementById('country');
                    country.textContent = res.country;

                    const isApproved = res.isApproved
                        ? 'Approved <span class="text-3"><i class="fas fa-check-circle"></i></span>'
                        : 'Pending <span class="text-3"><i class="fas fa-ellipsis-h"></i></span>';

                    const status = document.getElementById('status');
                    status.innerHTML = isApproved;

                    const id = document.getElementById('bank-account-id');
                    id.value = res.id;
                })
                .catch(err => console.log(err));
        }
    </script>
}

<!-- Middle Panel ============================================= -->
<div class="col-lg-9">

    <!-- Credit or Debit Cards ============================================= -->
    <div class="bg-light shadow-sm rounded p-4 mb-4">
        <h3 class="text-5 font-weight-400 mb-4">Credit or Debit Cards <span class="text-muted text-4">(for payments)</span></h3>
        <div class="row">
            @foreach (var card in this.Model.CreditCards)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="account-card account-card-primary text-white rounded p-3 mb-4 mb-lg-0">
                        <p class="text-4">XXXX-XXXX-XXXX-@card.LastFourDigits</p>
                        <p class="d-flex align-items-center">
                            <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">
                                Valid<br>
                                thru<br>
                            </span> <span class="text-4 opacity-9">@card.ExpiryDate</span>
                        </p>
                        <p class="d-flex align-items-center m-0"> <span class="text-uppercase font-weight-500">@this.Model.FirstName @this.Model.LastName</span> <img class="ml-auto" src="/images/payment/@($"{card.CardType.ToString()}.png")" alt="@card.CardType.ToString()" title=""> </p>
                        <div class="account-card-overlay rounded">
                            <a onclick="getCreditCardDetails('@card.Id')" href="#" data-target="#edit-card-details" data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-edit"></i></span>Edit</a>
                            <a onclick="deleteCreditCardDetails('@card.Id')" data-target="#credit-card-details" data-toggle="modal" href="#" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 col-sm-6 col-lg-4">
                <a href="" data-target="#add-new-card-details" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                    <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add New Card</span> </p>
                </a>
            </div>
        </div>
    </div>

    <!-- Edit Card Details Modal ================================== -->
    <div id="edit-card-details" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Update Card</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                    <form id="updateCard" method="post" asp-area="Profile" asp-controller="Financials" asp-action="EditCreditCard">
                        <div class="form-group">
                            <label for="last-four-digits">Card Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend"> <span class="input-group-text"><img id="card-type" class="ml-auto" src="/images/payment/visa.png" alt="visa" title=""></span> </div>
                                <input id="last-four-digits" name="cardNumber" type="text" class="form-control" data-bv-field="edircardNumber" disabled value="XXXXXXXXXXXXXXX" placeholder="Card Number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="editexpiryDate">Expiry Date</label>
                                    <input name="expiryDate" id="editexpiryDate" type="text" class="form-control" data-bv-field="editexpiryDate" required placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="editcvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i class="fas fa-question-circle"></i></span></label>
                                    <input name="cVV" id="editcvvNumber" type="password" class="form-control" data-bv-field="editcvvNumber" required placeholder="CVV (3 digits)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editcardHolderName">Card Holder Name</label>
                            <input id="editcardHolderName" name="cardHolderName" type="text" class="form-control" data-bv-field="editcardHolderName" required placeholder="Card Holder Name">
                        </div>
                        <input type="hidden" name="id" id="id" />
                        <button class="btn btn-primary btn-block" type="submit">Update Card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Add New Card Details Modal ================================== -->
    <div id="add-new-card-details" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Add a Card</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                    <form id="addCard" method="post" asp-area="Profile" asp-controller="Financials" asp-action="AddCreditCard">
                        <div class="btn-group d-flex btn-group-toggle mb-3" data-toggle="buttons">
                            <label class="btn btn-outline-secondary btn-sm shadow-none w-100 active">
                                <input type="radio" name="isCredit" id="option1" checked value="false">
                                Debit
                            </label>
                            <label class="btn btn-outline-secondary btn-sm shadow-none w-100">
                                <input type="radio" name="isCredit" id="option2" value="true">
                                Credit
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="cardType">Card Type</label>
                            <select id="cardType" name="cardType" class="custom-select" required="">
                                <option selected="selected" disabled="disabled">Card Type</option>
                                @foreach (var cardType in cardTypesSelectList)
                                {
                                    <option value="@cardType.Value">@cardType.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">Card Number</label>
                            <input name="cardNumber" type="text" class="form-control" data-bv-field="cardnumber" id="cardNumber" required value="" placeholder="Card Number">
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="expiryDate">Expiry Date</label>
                                    <input name="expiryDate" id="expiryDate" type="text" class="form-control" data-bv-field="expiryDate" required value="" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="cvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i class="fas fa-question-circle"></i></span></label>
                                    <input name="cvv" id="cvvNumber" type="password" class="form-control" data-bv-field="cvvnumber" required value="" placeholder="CVV (3 digits)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardHolderName">Card Holder Name</label>
                            <input name="cardHolderName" type="text" class="form-control" data-bv-field="cardholdername" id="cardHolderName" required value="" placeholder="Card Holder Name">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Add Card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Credit Card Details Modal ================================== -->
    <div id="credit-card-details" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <h5 class="text-5 font-weight-400 m-3">
                                Credit Card Details
                                <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </h5>
                            <hr>
                            <div class="px-3">
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Card Holder Name:</li>
                                    <li id="card-principal-name" class="text-muted">Principal Name</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Credit Card Number:</li>
                                    <li id="card-number" class="text-muted">0000000000000000</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Expire Date:</li>
                                    <li id="expire-date" class="text-muted">Date</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Card Type:</li>
                                    <li id="credit-card-type" class="text-muted">Type</li>
                                </ul>
                                <div class="mb-2">
                                    <form asp-area="Profile" asp-controller="Financials" asp-action="DeleteCreditCard" method="post">
                                        <input id="credit-credit-id" type="hidden" name="id" />
                                        <button type="submit" class="btn btn-sm btn-outline-danger btn-block shadow-none"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete Account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Credit or Debit Cards End -->

    <!-- Bank Accounts ============================================= -->
    <div class="bg-light shadow-sm rounded p-4 mb-4">
        <h3 class="text-5 font-weight-400 mb-4">Bank Accounts <span class="text-muted text-4">(for withdrawal)</span></h3>
        <div class="row">
            @foreach (var account in this.Model.BankAccounts)
            {
                <div class="col-12 col-sm-6 mb-4">
                    <div class="account-card account-card-primary text-white rounded mb-4 mb-lg-0">
                        <div class="row no-gutters">
                            <div class="col-3 d-flex justify-content-center p-3">
                                <div class="my-auto text-center text-13">
                                    <i class="fas fa-university"></i>
                                </div>
                            </div>
                            <div class="col-9 border-left">
                                <div class="py-4 my-2 pl-4">
                                    <p class="text-4 font-weight-500 mb-1">@account.BankName</p>
                                    <p class="text-4 opacity-9 mb-1">XXXXXXXXXXXX-@account.IBAN[^4..]</p>
                                    @if (account.IsApproved)
                                    {
                                        <p class="m-0">Approved <span class="text-3"><i class="fas fa-check-circle"></i></span></p>
                                    }
                                    else
                                    {
                                        <p class="m-0">Pending <span class="text-3"><i class="fas fa-ellipsis-h"></i></span></p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="account-card-overlay rounded">
                            <a onclick="getBankAccountsDetails('@account.Id')" href="#" data-target="#bank-account-details" data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 col-sm-6">
                <a href="" data-target="#add-new-bank-account" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                    <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add New Bank Account</span> </p>
                </a>
            </div>
        </div>
    </div>

    <!-- Delete Bank Account Details Modal ======================================== -->
    <div id="bank-account-details" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                            <div class="my-auto text-center">
                                <div class="text-17 text-white mb-3"><i class="fas fa-university"></i></div>
                                <h3 id="bank-name" class="text-6 text-white my-3">Bank Name</h3>
                                <div id="bank-account-short" class="text-4 text-white my-4">XXXX-0000</div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <h5 class="text-5 font-weight-400 m-3">
                                Bank Account Details
                                <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </h5>
                            <hr>
                            <div class="px-3">
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Account Name:</li>
                                    <li id="principal-name" class="text-muted">Principal Name</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Account Number:</li>
                                    <li id="iban" class="text-muted">0000000000000000</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Bank Country:</li>
                                    <li id="country" class="text-muted">Country</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="font-weight-500">Status:</li>
                                    <li id="status" class="text-muted"></li>
                                </ul>
                                <div class="mb-2">
                                    <form asp-area="Profile" asp-controller="Financials" asp-action="DeleteBankAccount" method="post">
                                        <input id="bank-account-id" type="hidden" name="id" />
                                        <button type="submit" class="btn btn-sm btn-outline-danger btn-block shadow-none"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete Account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add New Bank Account Details Modal ======================================== -->
    <div id="add-new-bank-account" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Add bank account</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                    <form id="addbankaccount" method="post" asp-area="Profile" asp-controller="Financials" asp-action="AddBankAccount">
                        <div class="form-group">
                            <label for="inputCountry">Country</label>
                            <select name="country" class="custom-select" id="inputCountry" asp-items="countriesSelectListItems">
                                <option selected="selected" disabled="disabled"> --- Please Select --- </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bankName">Bank Name</label>
                            <input type="text" name="bankName" class="form-control" data-bv-field="bankName" id="bankName" required placeholder="Bank Name" />
                        </div>
                        <div class="form-group">
                            <label for="accountName">Account Name</label>
                            <input type="text" name="accountName" class="form-control" data-bv-field="accountName" id="accountName" required value="" placeholder="e.g. Smith Rhodes">
                        </div>
                        <div class="form-group">
                            <label for="accountNumber">IBAN</label>
                            <input type="text" name="iban" class="form-control" data-bv-field="accountNumber" id="accountNumber" required value="" placeholder="e.g. BG79RZBB12344567891234">
                        </div>
                        <div class="form-group">
                            <label for="ifscCode">SWIFT / BIC Code</label>
                            <input type="text" name="swift" class="form-control" data-bv-field="ifscCode" id="ifscCode" required value="" placeholder="e.g. RZBBBGSF">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Add Bank Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bank Accounts End -->

</div>
<!-- Middle Panel End -->
