@using System.Globalization
@model IEnumerable<PaymentSystem.WalletApp.Web.ViewModels.Activities.DetailsActivityModel>

<!-- Title =============================== -->
<div class="transaction-title py-2 px-4">
    <div class="row">
        <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
        <div class="col col-sm-7">Description</div>
        <div class="col-auto col-sm-2 d-none d-sm-block text-center">Status</div>
        <div class="col-3 col-sm-2 text-right">Amount</div>
    </div>
</div>
<!-- Title End -->

<!-- Transaction List  =============================== -->
<div class="transaction-list">
    @foreach (var activity in this.Model.OrderByDescending(a => a.TimeStamp))
    {
        <div class="transaction-item px-4 py-3" data-toggle="modal" data-target="#transaction-detail" onclick="getTransactionInfo('@activity.TransactionHash')">
            <div class="row align-items-center flex-row">
                <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 font-weight-300">@activity.Date.Day</span> <span class="d-block text-1 font-weight-300 text-uppercase">@activity.Date.ToString("MMM", CultureInfo.InvariantCulture)</span> </div>
                <div class="col col-sm-7"> <span class="d-block text-4">@($"XXXX - {activity.CounterpartyAddress[^12..]}")</span> <span class="text-muted">@(activity.Description.Length > 50 ? activity.Description[..50] : activity.Description)</span> </div>
                <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> <activity-status status="@activity.Status"></activity-status> </div>
                <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">@($"{activity.Amount:F2}")</span> <span class="text-2 text-uppercase">(pir)</span> </div>
            </div>
        </div>
    }
</div>
<!-- Transaction List End -->

<!-- Transaction Item Details Modal =========================================== -->
<div id="transaction-detail" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                        <div class="my-auto text-center">
                            <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
                            <h3 class="text-4 text-white font-weight-400 my-3">XXX</h3>
                            <div id="total-amount-header" class="text-8 font-weight-500 text-white my-4">00.00P</div>
                            <p id="date-header" class="text-white"></p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h5 class="text-5 font-weight-400 m-3">
                            Transaction Details
                            <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </h5>
                        <hr>
                        <div class="px-3">
                            <ul class="list-unstyled">
                                <li class="mb-2">Payment Amount <span id="payment-amount" class="float-right text-3">00.00P</span></li>
                                <li class="mb-2">Fee <span id="transaction-fee" class="float-right text-3">-0.00P</span></li>
                            </ul>
                            <hr class="mb-2">
                            <p class="d-flex align-items-center font-weight-500 mb-4">Total Amount 
                                <span id="total-amount" class="text-3 ml-auto">00.00P</span>
                            </p>
                            <ul class="card list-unstyled coin-account-details-card">
                                <li class="font-weight-500">Sender Address:</li>
                                <li id="sender-address" class="text-muted">XXXX</li>
                            </ul>
                            <ul class="card list-unstyled coin-account-details-card">
                                <li class="font-weight-500">Recipient Address:</li>
                                <li id="recipient-address" class="text-muted">XXXX</li>
                            </ul>
                            <ul class="card list-unstyled coin-account-details-card">
                                <li class="font-weight-500">Transaction Hash:</li>
                                <li id="transaction-hash" class="text-muted">-----</li>
                            </ul>
                            <ul class="card list-unstyled coin-account-details-card">
                                <li class="font-weight-500">Block Hash:</li>
                                <li id="block-hash" class="text-muted">-----</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Transaction Item Details Modal End -->
