@using System.Globalization
@model IEnumerable<PaymentSystem.WalletApp.Web.ViewModels.Activities.DetailsActivityModel>

<!-- Title =============================== -->
<div class="transaction-title py-2 px-4">
    <div class="row">
        <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
        <div class="col col-sm-7">Description</div>
        <div class="col-auto col-sm-2 d-none d-sm-block text-center">Status</div>
        <div class="col-3 col-sm-2 text-right">Amount</div>
    </div>
</div>
<!-- Title End -->

<!-- Transaction List  =============================== -->
<div>
    @foreach (var activity in this.Model.OrderByDescending(a => a.TimeStamp))
    {
        <div class="transaction-item px-4 py-3" data-toggle="modal" data-target="#transaction-detail" onclick="getTransactionInfo('@activity.TransactionHash')">
            <div class="row align-items-center flex-row">
                <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 font-weight-300">@activity.Date.Day</span> <span class="d-block text-1 font-weight-300 text-uppercase">@activity.Date.ToString("MMM", CultureInfo.InvariantCulture)</span> </div>
                <div class="col col-sm-7"> <span class="d-block text-4">@($"XXXX - {activity.CounterpartyAddress[^12..]}")</span> <span class="text-muted">@(activity.Description.Length > 50 ? activity.Description[..50] : activity.Description)</span> </div>
                <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> <activity-status status="@activity.Status"></activity-status> </div>
                <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">@($"{activity.Amount:F2}")</span> <span class="text-2 text-uppercase">(pir)</span> </div>
            </div>
        </div>
    }
</div>
<!-- Transaction List End -->

<partial name="/Views/Transactions/TransactionDetailsModal.cshtml" />