@using System.Globalization
@model PaymentSystem.WalletApp.Web.ViewModels.Administration.Blocks.BlockListingAdminPartialModel

<div class="bg-light shadow-sm rounded py-4 mb-4">
    <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">@Model.Title</h3>

    <!-- Title =============================== -->
    <div class="transaction-title py-2 px-4">
        <div class="row">
            <div class="col-1">Height</div>
            <div class="col-2 text-center">Date</div>
            <div class="col-8">Hash</div>
            <div class="col-1">Transactions</div>
        </div>
    </div>
    <!-- Title End -->

    <div>
        @foreach (var block in this.Model.Blocks)
        {
            <div class="transaction-item px-4 py-3">
                <a asp-area="Administration" asp-controller="Blocks" asp-action="Details" asp-route-hash="@block.Hash" class="text-reset text-decoration-none row align-items-center flex-row">
                    <div class="col-1">
                        <span class="text-2">@block.Height</span>
                    </div>
                    <div class="col-2 text-center">
                        <span class="d-block text-4 font-weight-300">@block.Date.Day</span>
                        <span class="d-block text-1 font-weight-300 text-uppercase">@block.Date.ToString("MMM", CultureInfo.InvariantCulture)</span>
                    </div>
                    <div class="col-8">
                        <span class="text-4">
                            @block.FriendlyHash
                        </span>
                    </div>
                    <div class="col-1">
                        <span class="text-2">@block.TransactionsCount</span>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
