@page
@model PaymentSystem.WalletApp.Web.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="login-signup-page mx-auto my-5">
    <h3 class="font-weight-400 text-center">Sign Up</h3>
    <p class="lead text-center">Your Sign Up information is safe with us.</p>
    <div class="bg-light shadow-md rounded p-4 mx-2">
        <form id="signupForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@this.Model.Input.Username"></label>
                <input asp-for="@this.Model.Input.Username"
                       class="form-control"
                       placeholder="Enter Your Name">
                <span asp-validation-for="@this.Model.Input.Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.Input.Email"></label>
                <input asp-for="@this.Model.Input.Email"
                       class="form-control"
                       placeholder="Enter Your Email">
                <span asp-validation-for="@this.Model.Input.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.Input.Password"></label>
                <input asp-for="@this.Model.Input.Password"
                       class="form-control"
                       placeholder="Enter Password">
                <span asp-validation-for="@this.Model.Input.Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="@this.Model.Input.ConfirmPassword"
                       class="form-control"
                       placeholder="Enter Password">
                <span asp-validation-for="@this.Model.Input.ConfirmPassword"></span>
            </div>
            <button class="btn btn-primary btn-block my-4" type="submit">Sign Up</button>
        </form>
        <p class="text-3 text-muted text-center mb-0">Already have an account? 
        <a class="btn-link" asp-area="Identity" asp-page="/Account/Login">Log In</a></p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
